body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-image: url("1.jpg");
  background-size: contain; 
  background-position: center; 
}
.quiz-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
h1 {
  font-size: 2rem;
  margin: 20px 0; 
  padding: 0 20px; 
}

.question {
  margin: 20px 0; 
  padding: 0 20px; 
}

.answer {
  padding: 0 20px; 
}

button {
  background: linear-gradient(45deg, #FF6347, #FFD700, #90EE90);
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: ba 0.3s, transform 0.2s;
  width: 120px;
}

button:hover {
  background: linear-gradient(45deg, #FFD700, #FF6347, #ADD8E6);
  transform: scale(1.1);
}

.status {
  margin-top: 15px;
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  font-weight: bold;
  color: #333;
  padding: 0 20px; 
}



  
  